<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581376880340-e5oorpk8hkcindgph6irpuu66ti5j747.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581376880340-e5oorpk8hkcindgph6irpuu66ti5j747</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Cbsawzypid4QsOAZRR6xJ1icAsGR5zg</string>
	<key>GCM_SENDER_ID</key>
	<string>581376880340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogsPark</string>
	<key>PROJECT_ID</key>
	<string>dog-park-project</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-park-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581376880340:ios:ccbfa88605ae4e36759541</string>
</dict>
</plist>